[submodule "deps/marked"]
	path = deps/marked
	url = https://github.com/markedjs/marked
[submodule "deps/highlight.js"]
	path = deps/highlight.js
	url = https://github.com/highlightjs/highlight.js
[submodule "deps/redpill"]
	path = deps/redpill
	url = https://github.com/anderspitman/redpill
[submodule "deps/mustache.js"]
	path = deps/mustache.js
	url = https://github.com/janl/mustache.js
