    </div> <!-- main -->

    <!-- GoatCounter Analytics -->
    <script>
      (function() {
         window.counter = 'https://anderspitman_net.goatcounter.com/count'

	 var script = document.createElement('script');
         script.async = 1;
         script.src = '//gc.zgo.at/count.js';
         var ins = document.getElementsByTagName('script')[0];
         ins.parentNode.insertBefore(script, ins)
      })();
    </script>
    <!-- End GoatCounter Analytics -->
  </body>
</html>
