<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89445274-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-89445274-1');
    </script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->

    <title>Anders' little corner of the internet</title>

    <link rel="stylesheet" href="{{{root}}}deps/highlight.js/src/styles/tomorrow-night.css">
    <link rel="stylesheet" href="{{{root}}}theme.css">
    
  </head>

  <body>

    <div class='main'>
      <nav class='semi-transparent'>
        <a class='nav-btn' href='{{root}}feed'>Feed</a>
        <!--<a class='nav-btn' href='{{root}}tutorials'>Tutorials</a>-->
        <a class='nav-btn' href='{{root}}about'>About</a>
      </nav>

