html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: Courier, monospace;
}
*, *:before, *:after {
  box-sizing: inherit;
  --bg-color: rgba(20, 20, 20, 1.0);
}

body {
  margin: 0;
  /*background-color: #222222;*/
  background-color: var(--bg-color);
  /*color: #eeeeee;*/
  color: #ddd;
}

a {
    color: #DB8A00;
}

nav {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 20px;
}

pre {
    overflow-x: scroll;
    background-color: #333333;
    font-size: 0.8em;
}

.nav-btn {
  margin-right: 20px;
}

.main {
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 20px;
}

.contact-links a {
    display: block;
}

.portrait img {
    border-radius: 50%;
}

.portrait {
    width: 30%;
    margin: 0 auto;
}

.list-entry {
  border: 2px solid;
  margin-bottom: 64px;
  padding: 10px;
  /*overflow: scroll;*/
  overflow: hidden;
  max-height: 300px;
}

.list-entry__controls {
  font-size: 20px;
  font-weight: bold;
}

.list-entry__control-btn {
  float: right;
  margin-left: 20px;
}

.entry {

}

.entry__iframe {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.list-entry {
  opacity: 1;
  /*animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .1s;*/
}

/*
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*/

#rain-container {
  position: absolute;
  /*height: 100%;*/
  z-index: -1000;
}


.semi-transparent {
  background-color: rgba(20, 20, 20, 0.9);
}
